.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-arrow {
  z-index: 10;
  padding: 20px;
  border-radius: 50%;
}

.slick-next,
.slick-prev {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .slick-arrow {
    display: none !important;
  }
}

.slick-next:before,
.slick-prev:before {
  font-size: 38px !important;
}

.slick-next {
  right: 3% !important;
}

.slick-prev {
  left: 3% !important;
}

.slick-dots {
  bottom: 10px;

  li {
    margin: 0;
  }

  button {
    &:before {
      width: 15px !important;
      height: 15px !important;
      font-size: 5px !important;
      color: #fff !important;
    }
  }
}